<html lang="en">
  
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Email sender</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>

  <body>

    <section class="input_holder">
    	<div class="form_container"> 
        <div class = "text_1">
          <span>Test Sender</span>
        </div>
        <form class="form" method="POST" action="/url_fetcher">
          <div class="input">
            <input placeholder="Enter the url" class="form-control" name='url' />
            <div class="btn-holder">
              <button class="btn-form" type="submit"><span>Send email</span></button>
            </div>
          </div>
        </form>
      </div>
    </section>

  </body>
</html> 